@import 'variables.scss';

.header {
    border-top: 1px solid $grey-color;
    border-bottom: 1px solid $grey-color;
    display: flex;
    flex-direction: row;
    align-items: center;

    * {
        flex-grow: 1;
    }

    .itemDetails {
        background-color: green;
        color: #ffffff;
        padding: 5px 10px;
        border-radius: 5px;
    }
}