@import 'variables.scss';
@import 'mixins.scss';

.header {
    border-top: 1px solid $grey-color;
    border-bottom: 1px solid $grey-color;
    display: flex;
    flex-direction: row;
    align-items: center;

    * {
        flex-grow: 1;
    }

    .itemCount {
        display: none;
        @include desktop {
            display: block;
        }
        @include large-desktop {
            display: block;
        }

        .itemDetails {
            background-color: green;
            color: #ffffff;
            padding: 5px 10px;
            border-radius: 5px;
        }
    }

    .mobileCart {  
        position: relative;
         
        img {
            width: 40px;
        }     

        @include desktop {
            display: none;
        }
        @include large-desktop {
            display: none;
        }

        .totalItems {
            background-color: green;
            color: #ffffff;
            border-radius: 50%;
            padding: 7px;
            position: absolute;
        }
    }
}