/* Landscape tablets and medium desktops */
/* Large desktops and laptops */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0px; }
  table thead, table tfoot {
    text-align: left; }
  table th, table td {
    padding: 5px; }
  table.itemListTable {
    border-bottom: 1px solid #808080; }
    table.itemListTable thead {
      border-top: 1px solid #808080;
      border-bottom: 1px solid #808080; }
    table.itemListTable .itemImg {
      height: 40px;
      width: 40px; }
    table.itemListTable tr {
      display: flex;
      flex-direction: row;
      align-items: center; }
      table.itemListTable tr td, table.itemListTable tr th {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 25%; }
        table.itemListTable tr td:first-child, table.itemListTable tr th:first-child {
          width: 50%; }
    table.itemListTable .input {
      display: flex;
      flex-direction: row; }
      table.itemListTable .input input {
        width: 25px; }
  table.amountDetails {
    border: 1px solid #808080; }
    table.amountDetails tfoot {
      background-color: #A9A9A9; }

/* Landscape tablets and medium desktops */
/* Large desktops and laptops */
.header {
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .header * {
    flex-grow: 1; }
  .header .itemCount {
    display: none; }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .header .itemCount {
        display: block; } }
    @media (min-width: 1200px) {
      .header .itemCount {
        display: block; } }
    .header .itemCount .itemDetails {
      background-color: green;
      color: #ffffff;
      padding: 5px 10px;
      border-radius: 5px; }
  .header .mobileCart {
    position: relative; }
    .header .mobileCart img {
      width: 40px; }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .header .mobileCart {
        display: none; } }
    @media (min-width: 1200px) {
      .header .mobileCart {
        display: none; } }
    .header .mobileCart .totalItems {
      background-color: green;
      color: #ffffff;
      border-radius: 50%;
      padding: 7px;
      position: absolute; }

/* Landscape tablets and medium desktops */
/* Large desktops and laptops */
/* Landscape tablets and medium desktops */
/* Large desktops and laptops */
#products .product {
  height: 300px;
  width: 300px;
  border: 1px solid #A9A9A9;
  margin: 10px;
  display: flex;
  flex-direction: column;
  position: relative; }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    #products .product {
      width: 250px; } }
  @media (min-width: 1200px) {
    #products .product {
      width: 250px; } }
  #products .product .discountSection {
    background-color: green;
    position: absolute;
    font-size: 15px;
    color: #ffffff;
    top: 20px;
    z-index: 1;
    padding: 10px; }
  #products .product .imageSection {
    padding: 20px 35px;
    height: 100%; }
    #products .product .imageSection .imageContainer {
      height: 180px;
      width: 180px;
      background-color: #A9A9A9;
      display: flex;
      align-items: center;
      align-content: center;
      position: relative; }
      #products .product .imageSection .imageContainer img {
        height: 180px;
        width: 180px; }
  #products .product .infoSection {
    flex-grow: 1;
    padding: 5px;
    background-color: #A9A9A9;
    font-size: 14px;
    display: flex;
    flex-direction: column; }
    #products .product .infoSection p {
      padding: 0;
      margin: 0; }
    #products .product .infoSection .info {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: space-evenly; }
      #products .product .infoSection .info * {
        flex-grow: 1; }
      #products .product .infoSection .info .price {
        font-size: 16px; }
        #products .product .infoSection .info .price .actual {
          text-decoration: line-through; }
        #products .product .infoSection .info .price .display {
          font-weight: 600; }
      #products .product .infoSection .info .button {
        display: flex; }
        #products .product .infoSection .info .button button {
          border: 1px solid #0a76b7;
          color: #0a76b7;
          border-radius: 5px;
          background-color: #A9A9A9;
          font-size: 14px; }

/* Landscape tablets and medium desktops */
/* Large desktops and laptops */
body {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  color: #000000; }
  body .section-1 {
    display: flex;
    flex-direction: column;
    position: relative; }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      body .section-1 {
        display: flex;
        flex-direction: row; } }
    @media (min-width: 1200px) {
      body .section-1 {
        display: flex;
        flex-direction: row; } }
    body .section-1 #products {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      padding: 10px;
      width: 100vw; }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        body .section-1 #products {
          width: 65%; } }
      @media (min-width: 1200px) {
        body .section-1 #products {
          width: 65%; } }
    body .section-1 #cartDetails {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: baseline;
      padding: 10px;
      width: 335px;
      height: 100%;
      position: absolute;
      right: -100%;
      z-index: 5;
      background: #ffffff; }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        body .section-1 #cartDetails {
          position: relative;
          width: 35%; } }
      @media (min-width: 1200px) {
        body .section-1 #cartDetails {
          position: relative;
          width: 35%; } }
